<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.redmono.server-mail.ensure</string>
  <key>ProgramArguments</key>
  <array>
    <string>/bin/zsh</string>
    <string>/Users/mac/ServerShare/Containers/core/server-components-ensure.zsh</string>
  </array>
  <key>RunAtLoad</key>
  <true/>
  <key>StartInterval</key>
  <integer>300</integer>
  <key>ProcessType</key>
  <string>Background</string>
  <key>StandardOutPath</key>
  <string>/Users/mac/Library/Logs/server-mail.ensure.log</string>
  <key>StandardErrorPath</key>
  <string>/Users/mac/Library/Logs/server-mail.ensure.error.log</string>
</dict>
</plist>
